.search-item {
	display: flex;
	color: #a0a2a5;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	padding: 0 5px;
}

.search-item:hover {
	background-color: #cecece;
}

.search-item__name {
	font-weight: 200;
}

.search-item__divider {
	border-bottom: #a0a2a5 1px dashed;
	flex-grow: 1;
}

.search-item__icon {
	background-color: #a0a2a5;
	height: 25px;
	width: 25px;
}

.search-item__icon_type_apple {
	mask-image: url("../../../../assets/apple.svg");
	-webkit-mask-image: url("../../../../assets/apple.svg");
}

.search-item__icon_type_carrot {
	mask-image: url("../../../../assets/carrot.svg");
	-webkit-mask-image: url("../../../../assets/carrot.svg");
}

.search-item__icon_type_melon {
	mask-image: url("../../../../assets/melon.svg");
	-webkit-mask-image: url("../../../../assets/melon.svg");
}

.search-item__icon_type_lemon {
	mask-image: url("../../../../assets/lemon.svg");
	-webkit-mask-image: url("../../../../assets/lemon.svg");
}

.search-item__icon_type_pear {
	mask-image: url("../../../../assets/pear.svg");
	-webkit-mask-image: url("../../../../assets/pear.svg");
}

.search-item__icon_type_orange {
	mask-image: url("../../../../assets/oragne.svg");
	-webkit-mask-image: url("../../../../assets/oragne.svg");
}

.search-item__icon_type_salad {
	mask-image: url("../../../../assets/salad.svg");
	-webkit-mask-image: url("../../../../assets/salad.svg");
}
